<form action="<%= new_player_path %>" method="get">
<p>What Movie would you like to select? </p>
  <label for="movie1">Movie 1</label>
  <input type="radio" name="movie" value="1">
  <label for="movie2">Movie 2</label>
  <input type="radio" name="movie" value="2">
  <label for="movie3">Movie 3</label>
  <input type="radio" name="movie" value="3">
  <input type="submit" value="Submit Query!">
  <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
</form>